@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
	position: fixed;
	width: 100%;
	height: 100%;
    left: 0%;
	z-index: 1440;
	text-align:center;
	color:#fff;
}

/* Loading画像中央配置　*/
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 1440;
	transform: translate(-50%, -50%);
	color: #fff;
	width: 100%;
}

/*IE11対策用バーの線の高さ※対応しなければ削除してください*/
#splash_text svg{
    height: 2px;
}

/*割れる画面のアニメーション*/
.loader_cover {
    width: 100%;
    height: 50%;
    background-color: #6461ff;
    transition: all .2s cubic-bezier(.04, .435, .315, .9);
    transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
    transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/

.coveranime {
    transform: scaleY(0);
}

#home {
    background-color: #6461FF;
}


.main-nav{
    display: flex;
    flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
    margin:0 0 50px 0;
    list-style: none;
    justify-content: flex-end;
}

.main-nav li a{
    display: block;
    padding: 2rem 2rem 0.2rem 2rem;
    text-decoration: none;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    position: relative;
}

.main-nav li{
    margin-bottom:20px;
}

/*5-3-1 中心から外に線が伸びる（下部）*/

.main-nav li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background:#000;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.main-nav li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

.logo{
    margin: auto;
    display: block;
    width: 60%;
    height: 60%;
}

.page header{
    display: flex;
}

header figure{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

header figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


div.about{
   padding: 10rem 1.5rem;
   background-color: #F6A9FD;
   position: relative;
}

.about::before {
    content: "";
    display: block;
    background-image: url("../images/header1.png");
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 940px;
    position: absolute;
    top: 0;
    left: 0;
}

div.abouttext{
    max-width: 970px;
    margin: 200px auto 0;
}

div.profile{
    display: flex;
    padding-top: 4rem;
    justify-content: space-between;
}

div.icon{
    padding-top: 50px;
    /* width: 307px;
    height: 307px; */
    width: 25%;
    height: auto;
    flex-shrink: 0;
}

div.name{
    padding-bottom: 2rem;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

div.college{
    padding-bottom: 2rem;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

div.from{
    padding-bottom: 1rem;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
}

div.profil2{
    display: flex;
    gap: 30px;
    padding-bottom: 1rem;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
}

div.text2 p{
    padding-bottom: 1rem;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
}

ul.genre li{
    padding-bottom: 20px;
    position: relative;
}

div.genle li-a::after{
    position: absolute;
    top: 0%;
    left: 100%;
    margin: 1rem;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #000;
}

.syumi {
    position: relative;
}

.syumi::before {
    content: "";
    width: 1px;
    height: 65px;
    position: absolute;
    border-left: 1px dotted #000;
    top: 0;
    left: 10px;
}

ul.syumi li{
    padding-left: 30px;
}

div.text{
    display: grid;
    text-align: left;
    width: 50%;
}

div.about h1{
    text-align: center;
    font-family: 'Inter', sans-serif;
}

div.skill{
   position: relative;
   max-width: 972px;
   top: 0%;
}

.skill1 {
    max-width: 972px;
    width: 100%;
}

h2{
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.absolute{
    position: absolute;
    width: 100%;
    max-width: 581px;
    top: 50%;
    left: 48%;
    transform: translateX(-50%) translateY(-50%)
}


div.works{
    display: flex;
    width: auto;
    padding: 2rem;
    background: #000;
    position: relative;
    overflow: hidden;
}


.loop{
    color: #fff;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    flex: 0 0 auto;
    white-space: nowrap;
    padding-right: 25px;
    padding-left: 25px;
}

.loop:nth-child(odd){
    animation: loop 10s -5s linear infinite;
}

.loop:nth-child(even){
    animation: loop 10s linear infinite;
}

@keyframes loop {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
} 

@keyframes loop2{
    0%{
        transform: translateX(0);
    }
    to{
        transform: translateX(-200%);
    }
}

div.worklist{
    margin: 10% 2%;
    background-color: #fff;
    position: relative;
}

.worksicon{
    display: grid;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
}

.hov-pare {
    position: relative;
    overflow: hidden;
}

.hov-pare img {
    width: 100%;
    height: 100%;
}

.hover-mask {
    align-items: center; /* テキストの中央揃え */
    background: rgba(0, 0, 0, .5); /* マスクの色(黒の50%) */
    bottom: 0;
    color: #fff; /* テキストの色 */
    display: flex; /* テキストの中央揃え */
    height: auto;
    justify-content: center; /* テキストの中央揃え */
    left: 0;
    opacity: 0; /* 最初は透明(非表示) */
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .6s ease; /* ゆっくりopacityのみへ変化させる */
    width: 100%;
    text-align: center;
  }

  .hover-mask:hover {
    opacity: 1; /* hoverしたら透過しない(表示させる) */
  }
  
  .hover-mask p {
    width: 80%; /* テキストを横幅いっぱいにならないようにする */
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
  }

div.contact{
    padding: 10rem;
    background: #D3B0FF;
}

div.formscontact{
    text-align: center;
}

div.contact h1{
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

div.footer{
    background-image: url("../images/footer.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    background-color: #D3B0FF;
}

div.footer{
    background-image: url("../images/footer.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}

.footer-nav{
    display: flex;
    flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
    list-style: none;
    justify-content: center;
    padding-bottom: 2rem;
}

.footer-nav li a{
    display: block;
    padding: 2rem 2rem 0.2rem 2rem;
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    position: relative;
}

.footer-nav li{
    margin-bottom:20px;
}

/*5-3-1 中心から外に線が伸びる（下部）*/

.footer-nav li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background:#fff;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.footer-nav li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

.logo2{
    margin: 2% 45% 0% 45%;
    width: 10%;
    height: 10%;
}

.button2 {
    width: 100%;
}

.gototop {
    position: absolute;
    top: -50px;
    right: 13%;
    filter: drop-shadow(3px 3px 3px #000);
    background: #FF55A5;
    border-radius: 50%;
    padding:20px 30px;
    display: inline-block;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(128, 128, 128, 0.1) ;
    /*アニメーションの設定*/
    transition: all .3s;
}

.gototop:hover {
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.4), 0 0 60px rgba(128, 128, 128, 0.1) ;
    border-color: transparent;
}

/*フォーム*/

div.forms{
  max-width:600px;
  max-height: 700px;
  margin:0 auto;
  text-align:center;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:30px;
  background-color:#fff;
}

.formshead {
    -webkit-border-radius:6px 6px 0px 0px;
    -moz-border-radius:6px 6px 0px 0px;
    border-radius:30px 30px 0px 0px;
    background-color:#7142D6;
    color:#FAFAFA;
  }

  div.forms h2 {
    text-align:center;
    padding:18px 0 18px 0;
    font-size: 1.4em;
  }

  input {
    margin-bottom:15px;
  }

  textarea {
    height:100px;
    margin-bottom:10px;
  }

  input:first-of-type
{
  margin-top:35px;
}

input, textarea {
    font-size: 1em;
    padding: 15px 100px 15px 15px;
    font-family: 'Noto Sans JP', sans-serif;
    border: 1px solid #cecece;
    background: #fff;
    color:#000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    max-width: 600px;
}

::-webkit-input-placeholder {
    color: #A0A0A0;
 }
 :-moz-placeholder {
    color: #FAFAFA;  
 }
 ::-moz-placeholder {
    color: #FAFAFA; 
 }
 :-ms-input-placeholder {  
    color: #FAFAFA;  
 }

 button {
    margin-top:15px;
    margin-bottom:25px;
    background-color:#7142D6;
    padding: 12px 45px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7142D6;
    -webkit-transition: .5s;
    transition: .5s;
    display: inline-block;
    cursor: pointer;
    width:50%;
    color:#fff;
    font-size: 20pxs;
  }

  button:hover, .button:hover {
    background:#5D29CB;
  }

  label.error {
      font-family: 'Noto Sans JP', sans-serif;
      font-size:1em;
      display:block;
      padding-top:10px;
      padding-bottom:10px;
      background-color:#d89c9c;
      width: 80%;
      margin:auto;
      color: #FAFAFA;
      -webkit-border-radius:6px;
      -moz-border-radius:6px;
      border-radius:6px;
  }

  /* media queries */
    @media screen and (max-width: 800px) {
        label.error {
            width: 90%;
        }
        input, textarea {
            width: 90%;
            font-size: 0.5em;
            padding: 15px 80px 15px 15px;
        }

        button {
            width:90%;
        }

        .main-nav {
            font-size: 0.8rem;
            justify-content: center;
        }

        div.abouttext {
            margin: 60px auto 0;
        }

        div.icon {
            width: 50%;
            margin: auto;
            margin-bottom: 10%;
        }

        div.profile {
            display: block;
            text-align: center;
        }

        .absolute{
            width: 70%;
        }

        div.text {
            width: 100%;
            justify-content: center;
        }

        div.forms h2 {
            text-align:center;
            padding:18px 0 18px 0;
            font-size: 1rem;
        }

        .button2 {
            width: 60%;
        }

        .gototop {
            right: 1%;
        }

    }

  .message {
      font-family: 'Noto Sans JP', sans-serif;
      font-size:1.1em;
      display:none;
      padding-top:10px;
      padding-bottom:10px;
      background-color:#7142D6;
      width: 80%;
      margin:auto;
      color: #FAFAFA;
      -webkit-border-radius:6px;
      -moz-border-radius:6px;
      border-radius:6px;
  }

/* media queries スマホ */
@media screen and (max-width: 480px) {
    div.about {
        padding: 7rem 1.5rem;
    }

    div.profile {
        padding-top: 0rem;
    }
    div.ue{
        gap: 0;
    }
    div.sita{
        gap: 0;
    }

    div.icon img {
        width: 100%;
        height: auto;
    }
    div.works {
        padding: 1rem;
    }
    .loop {
        font-size: 1rem;
    }

    div.forms {
        width: 300px;
        margin-left: -160%;
    }
    div.contact {
        padding: 5rem 10rem;
    }

    div.contact h1 {
        margin: auto;
        margin-left: -85%;
    }

    div.formscontact {
        justify-content: center;
    }
    .footer-nav {
        padding-bottom: 0rem;
    }

    .gototop {
        padding: 15px 5px;
        margin-right: 5%;
    }

    .button2 {
        width: 60%;
        margin-left: 18%;
    }

    .logo2 {
        width: 20%;
        height: auto;
        margin: 2% 50% 0% 40%;
}
}

/*==================================================
ふわっ
===================================*/


/* fadeUp */

.fadeUp{
    animation-name:fadeUpAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
}

@keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
    
    
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
    
.fadeUpTrigger{
    opacity: 0;
}
